* {
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#follower {
    position: fixed;
    pointer-events: none;
}
#nav-principal {
    /*    position: fixed;
        width: 100%;
        height: 40px;
        left: 0;
        top: 0;*/
}
#login-box {
    line-height: 39px;
}
form.center {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
}
.control-group input, .control-group span {
    box-sizing: content-box;
}
.attachments {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.attachment {
    height: 42px;
    max-width: 42px;
    flex: 1;
}
.attachment span {
    background-size: 38px 38px;
    background-position: 0 0;
    margin-left: -12px;
    margin-top: -3px;
    height: 38px;
    width: 38px;
}
header.header {

}
#content {
    padding-top: 48px;
}
footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #333333;
    color: lavender;
    overflow: hidden;
}
#foot {
    padding: 5px;
}
#foot > a {
    float: left;
}
#foot p {
    text-align: right;
    word-break: normal;
}
#ver-chamado .control-group, .control-group.no-margin-bottom {
    margin-bottom: 0 !important;
}
#prioridade-slider {
    top: 10px;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#prioridade-value::before {
    content: '';
    display: block;
    position: absolute;     
    width: 14px;     
    height: 15px;     border-radius: 100%;     
    background-color: #fff;
    left: -5px;
    top: -5px;
    box-shadow: -2px -2px 0px -1px #aaa inset;
}
#prioridade-value::after {
    content: '';   display: block;   position: absolute;   width: 14px;   
    height: 15px;   border-radius: 100%;   background-color: #fff;   left: -5px;   
    bottom: -5px;   
    box-shadow: -2px 2px 0px -1px #aaa inset;
}
#prioridade-value {
    position: relative;
    border-left: none;
    box-shadow: 20px 0px 10px -10px #fff inset;
    padding-left: 13px;
    border-color: #aaa;
}
.controls textarea {
    resize: none;
}
.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;

    padding-bottom: 60px;
    margin-bottom: -60px;
    padding-top: 40px;
    margin-top: -88px;
}
.step-form {
    height: 100%;
    height: 100vh;

    padding-bottom: 80px;
    margin-bottom: -60px;
    padding-top: 60px;
    margin-top: -88px;

    /*    overflow-y: hidden;*/
}
.step-window {
    height: 100%;
    overflow-y: hidden;
}
#step-box fieldset {
    position: relative;
}
.step-box fieldset {
    width: 100%;
    height: 100%;
}
.step-box {
    height: 100%;
    position: relative;
}
#step-box footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#step-box a.button {
    text-align: center;
}
#step-box a.prev-step {
    float: left;
}
#step-box a.next-step, #enviar-chamado, #confirmar-chamado {
    float: right;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}
.flex-scroller {
    position: absolute;
    width: 100%;
    bottom: 52px;
    top: 40px;
    padding-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
.flex-grid > * {
    min-width: 200px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;

    -webkit-flex: 1;
    flex: 1;
}
.flex-grid > .item {
    height: 62px;
    border: 1px solid lightgray;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 20px;

    text-decoration: none;
    color: #000000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
}
.flex-grid > .item:hover,
.flex-grid > .item.active,
.flex-grid > .item:focus {
    border: 1px solid #aaaaaa;
    font-weight: normal;
    color: #212121;
}
.flex-grid > .item:hover,
.flex-grid > .item:focus {
    background-position: 0 -15px;
}

.ui-buttonset {
    display: flex;
    flex-wrap: wrap
}
.ui-buttonset label {
    flex: auto;
    white-space: nowrap;
}

.half-by-side {
    width: 50%;
    float: left;
}
.alert-working {
    background-color: #eedc94;
}
.alert-working h1 {
    color: #3a87ad;
}
#error-code, #info-code {
    line-height: 100%;
}

.sorted-desc::after {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background: -64px -16px url(/css/custom-theme/images/ui-icons_222222_256x240.png);
}
.sorted-asc::after {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background: 0 -16px url(/css/custom-theme/images/ui-icons_222222_256x240.png);
}

table td {
    white-space: nowrap;
}
tr td.more-info {
    white-space: nowrap;
    overflow: hidden;
    max-width: 90px;
    position: relative;
}
tr td.more-info::after {
    content: '';
    width: 40px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
tr:nth-child(odd) td.more-info::after {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(248,248,248,1) 75%, rgba(248,248,248,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(75%,rgba(248,248,248,1)), color-stop(100%,rgba(248,248,248,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(248,248,248,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(248,248,248,1) 75%,rgba(248,248,248,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(248,248,248,1) 75%,rgba(248,248,248,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(248,248,248,1) 75%,rgba(248,248,248,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */
}
tr:nth-child(even) td.more-info::after {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */
}
.chamado-row {
    cursor: pointer;
}
.chamado-row td span.ui-icon {
    float: left;
    margin-right: 5px; 
    border-radius: 10px;
    width: 18px;
    height: 19px;
    border: 1px solid #888;
}
.estado-1 {
    background-color: #FFCC00;
    background-position: -80px -96px;
}
.estado-2 {
    background-color: #6699ff;
    background-position: -96px -96px;
}
.estado-3 {
    background-color: yellowgreen;
    background-position: -64px -144px;
}
.estado-4 {
    background-color: #FF3300;
    background-position: -64px -128px;
}
.estado-5 {
    background-color: cyan;
    background-position: -80px -112px;
}

input[disabled], select[disabled], textarea[disabled] {
    border-style: none;
    box-shadow: none;
    color: #000000;
    background: #FFFFFF;
}
#noscript {
    position: absolute;
    left: 15%;
    width: 70%;
    max-width: 440px;
    margin-left: 15%;
    z-index: 99;
}
#noscript p {
    text-align: center;
}
.foot-pagination {
    margin: 80px 0;
}
#powered {
    padding: 5px;
    margin: 10px auto;
    width: 276px;
}

@media (max-width: 800px) {
    #noscript {
        left: 5%;
        width: 90%;
        max-width: 90%;
        margin-left: 0;
    }
}

@media (min-width: 800px) {
}
@media (max-width:480px) {
    form.center {
        max-width: 205px;
    }
}

.loading {
    margin: 10px auto;
    /*    width: 50px;*/
    height: 20px;
    text-align: center;
    font-size: 10px;
}

.loading > div {
    background-color: #333;
    height: 100%;
    width: 15px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}
.loading .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.loading .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.loading .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.loading .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.loading .rect6 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.loading .rect7 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        /*-webkit-transform: scaleY(0.4);*/
        background-color: #FFFFFF;
    }  
    20% {
        /*-webkit-transform: scaleY(1.0);*/
        background-color: #0064cd;
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% { 
        /*        transform: scaleY(0.4);
                -webkit-transform: scaleY(0.4);*/
        background-color: #FFFFFF;
    }  20% { 
        /*        transform: scaleY(1.0);
                -webkit-transform: scaleY(1.0);*/
        background-color: #0064cd;
    }
}

#follower {
    position: fixed;
    pointer-events: none;
}


/*
barra de progressão arquivo
background: linear-gradient(to right, #049cdb, #0064cd 100%, #eeeeee 0%);
color: #FFFFFF;
*/