.file-3dm span {
    background-image: url('/file-icons/3dm.png');
}
.file-3ds span {
    background-image: url('/file-icons/3ds.png');
}
.file-3g2 span {
    background-image: url('/file-icons/3g2.png');
}
.file-3gp span {
    background-image: url('/file-icons/3gp.png');
}
.file-7z span {
    background-image: url('/file-icons/7z.png');
}
.file-aac span {
    background-image: url('/file-icons/aac.png');
}
.file-aif span {
    background-image: url('/file-icons/aif.png');
}
.file-ai span {
    background-image: url('/file-icons/ai.png');
}
.file-apk span {
    background-image: url('/file-icons/apk.png');
}
.file-app span {
    background-image: url('/file-icons/app.png');
}
.file-asf span {
    background-image: url('/file-icons/asf.png');
}
.file-asp span {
    background-image: url('/file-icons/asp.png');
}
.file-aspx span {
    background-image: url('/file-icons/aspx.png');
}
.file-asx span {
    background-image: url('/file-icons/asx.png');
}
.file-avi span {
    background-image: url('/file-icons/avi.png');
}
.file-bak span {
    background-image: url('/file-icons/bak.png');
}
.file-bat span {
    background-image: url('/file-icons/bat.png');
}
.file-bin span {
    background-image: url('/file-icons/bin.png');
}
.file-bmp2 span {
    background-image: url('/file-icons/bmp2.png');
}
.file-cab span {
    background-image: url('/file-icons/cab.png');
}
.file-cad span {
    background-image: url('/file-icons/cad.png');
}
.file-cdr span {
    background-image: url('/file-icons/cdr.png');
}
.file-cer span {
    background-image: url('/file-icons/cer.png');
}
.file-cfg span {
    background-image: url('/file-icons/cfg.png');
}
.file-cfm span {
    background-image: url('/file-icons/cfm.png');
}
.file-cgi span {
    background-image: url('/file-icons/cgi.png');
}
.file-class span {
    background-image: url('/file-icons/class.png');
}
.file-com span {
    background-image: url('/file-icons/com.png');
}
.file-cpl span {
    background-image: url('/file-icons/cpl.png');
}
.file-cpp span {
    background-image: url('/file-icons/cpp.png');
}
.file-crx span {
    background-image: url('/file-icons/crx.png');
}
.file-csr span {
    background-image: url('/file-icons/csr.png');
}
.file-css span {
    background-image: url('/file-icons/css.png');
}
.file-csv span {
    background-image: url('/file-icons/csv.png');
}
.file-cue span {
    background-image: url('/file-icons/cue.png');
}
.file-cur span {
    background-image: url('/file-icons/cur.png');
}
.file-dat span {
    background-image: url('/file-icons/dat.png');
}
.file-dbf span {
    background-image: url('/file-icons/dbf.png');
}
.file-db span {
    background-image: url('/file-icons/db.png');
}
.file-dds span {
    background-image: url('/file-icons/dds.png');
}
.file-dem span {
    background-image: url('/file-icons/dem.png');
}
.file-dll span {
    background-image: url('/file-icons/dll.png');
}
.file-dmg span {
    background-image: url('/file-icons/dmg.png');
}
.file-dmp span {
    background-image: url('/file-icons/dmp.png');
}
.file-doc span {
    background-image: url('/file-icons/doc.png');
}
.file-docx span {
    background-image: url('/file-icons/docx.png');
}
.file-drv span {
    background-image: url('/file-icons/drv.png');
}
.file-dtd span {
    background-image: url('/file-icons/dtd.png');
}
.file-dwg span {
    background-image: url('/file-icons/dwg.png');
}
.file-dxf span {
    background-image: url('/file-icons/dxf.png');
}
.file-elf span {
    background-image: url('/file-icons/elf.png');
}
.file-eps span {
    background-image: url('/file-icons/eps.png');
}
.file-exe span {
    background-image: url('/file-icons/exe.png');
}
.file-fla span {
    background-image: url('/file-icons/fla.png');
}
.file-flash span {
    background-image: url('/file-icons/flash.png');
}
.file-flv span {
    background-image: url('/file-icons/flv.png');
}
.file-fnt span {
    background-image: url('/file-icons/fnt.png');
}
.file-fon span {
    background-image: url('/file-icons/fon.png');
}
.file-gam span {
    background-image: url('/file-icons/gam.png');
}
.file-gbr span {
    background-image: url('/file-icons/gbr.png');
}
.file-ged span {
    background-image: url('/file-icons/ged.png');
}
.file-gif span {
    background-image: url('/file-icons/gif.png');
}
.file-gpx span {
    background-image: url('/file-icons/gpx.png');
}
.file-gzip span {
    background-image: url('/file-icons/gzip.png');
}
.file-gz span {
    background-image: url('/file-icons/gz.png');
}
.file-hqz span {
    background-image: url('/file-icons/hqz.png');
}
.file-html span {
    background-image: url('/file-icons/html.png');
}
.file-ibooks span {
    background-image: url('/file-icons/ibooks.png');
}
.file-icns span {
    background-image: url('/file-icons/icns.png');
}
.file-ico span {
    background-image: url('/file-icons/ico.png');
}
.file-ics span {
    background-image: url('/file-icons/ics.png');
}
.file-iff span {
    background-image: url('/file-icons/iff.png');
}
.file-indd span {
    background-image: url('/file-icons/indd.png');
}
.file-iso span {
    background-image: url('/file-icons/iso.png');
}
.file-jar span {
    background-image: url('/file-icons/jar.png');
}
.file-jpg span {
    background-image: url('/file-icons/jpg.png');
}
.file-js span {
    background-image: url('/file-icons/js.png');
}
.file-jsp span {
    background-image: url('/file-icons/jsp.png');
}
.file-key span {
    background-image: url('/file-icons/key.png');
}
.file-kml span {
    background-image: url('/file-icons/kml.png');
}
.file-kmz span {
    background-image: url('/file-icons/kmz.png');
}
.file-lnk span {
    background-image: url('/file-icons/lnk.png');
}
.file-log span {
    background-image: url('/file-icons/log.png');
}
.file-lua span {
    background-image: url('/file-icons/lua.png');
}
.file-m3u span {
    background-image: url('/file-icons/m3u.png');
}
.file-m4a span {
    background-image: url('/file-icons/m4a.png');
}
.file-m4v span {
    background-image: url('/file-icons/m4v.png');
}
.file-macho span {
    background-image: url('/file-icons/macho.png');
}
.file-max span {
    background-image: url('/file-icons/max.png');
}
.file-mdb span {
    background-image: url('/file-icons/mdb.png');
}
.file-mdf span {
    background-image: url('/file-icons/mdf.png');
}
.file-mid span {
    background-image: url('/file-icons/mid.png');
}
.file-mim span {
    background-image: url('/file-icons/mim.png');
}
.file-mov span {
    background-image: url('/file-icons/mov.png');
}
.file-mp3 span {
    background-image: url('/file-icons/mp3.png');
}
.file-mp4 span {
    background-image: url('/file-icons/mp4.png');
}
.file-mpa span {
    background-image: url('/file-icons/mpa.png');
}
.file-mpg span {
    background-image: url('/file-icons/mpg.png');
}
.file-msg span {
    background-image: url('/file-icons/msg.png');
}
.file-msi span {
    background-image: url('/file-icons/msi.png');
}
.file-nes span {
    background-image: url('/file-icons/nes.png');
}
.file-object span {
    background-image: url('/file-icons/object.png');
}
.file-odb span {
    background-image: url('/file-icons/odb.png');
}
.file-odc span {
    background-image: url('/file-icons/odc.png');
}
.file-odf span {
    background-image: url('/file-icons/odf.png');
}
.file-odg span {
    background-image: url('/file-icons/odg.png');
}
.file-odi span {
    background-image: url('/file-icons/odi.png');
}
.file-odp span {
    background-image: url('/file-icons/odp.png');
}
.file-ods span {
    background-image: url('/file-icons/ods.png');
}
.file-odt span {
    background-image: url('/file-icons/odt.png');
}
.file-odx span {
    background-image: url('/file-icons/odx.png');
}
.file-ogg span {
    background-image: url('/file-icons/ogg.png');
}
.file-otf span {
    background-image: url('/file-icons/otf.png');
}
.file-pages span {
    background-image: url('/file-icons/pages.png');
}
.file-pct span {
    background-image: url('/file-icons/pct.png');
}
.file-pdb span {
    background-image: url('/file-icons/pdb.png');
}
.file-pdf span {
    background-image: url('/file-icons/pdf.png');
}
.file-pif span {
    background-image: url('/file-icons/pif.png');
}
.file-pkg span {
    background-image: url('/file-icons/pkg.png');
}
.file-pl span {
    background-image: url('/file-icons/pl.png');
}
.file-png span {
    background-image: url('/file-icons/png.png');
}
.file-pps span {
    background-image: url('/file-icons/pps.png');
}
.file-ppt span {
    background-image: url('/file-icons/ppt.png');
}
.file-pptx span {
    background-image: url('/file-icons/pptx.png');
}
.file-psd span {
    background-image: url('/file-icons/psd.png');
}
.file-ps span {
    background-image: url('/file-icons/ps.png');
}
.file-pub span {
    background-image: url('/file-icons/pub.png');
}
.file-python span {
    background-image: url('/file-icons/python.png');
}
.file-ra span {
    background-image: url('/file-icons/ra.png');
}
.file-rar span {
    background-image: url('/file-icons/rar.png');
}
.file-raw span {
    background-image: url('/file-icons/raw.png');
}
.file-rm span {
    background-image: url('/file-icons/rm.png');
}
.file-rom span {
    background-image: url('/file-icons/rom.png');
}
.file-rpm span {
    background-image: url('/file-icons/rpm.png');
}
.file-rss span {
    background-image: url('/file-icons/rss.png');
}
.file-rtf span {
    background-image: url('/file-icons/rtf.png');
}
.file-sav span {
    background-image: url('/file-icons/sav.png');
}
.file-sdf span {
    background-image: url('/file-icons/sdf.png');
}
.file-sitx span {
    background-image: url('/file-icons/sitx.png');
}
.file-sql span {
    background-image: url('/file-icons/sql.png');
}
.file-srt span {
    background-image: url('/file-icons/srt.png');
}
.file-svg span {
    background-image: url('/file-icons/svg.png');
}
.file-swf span {
    background-image: url('/file-icons/swf.png');
}
.file-sys span {
    background-image: url('/file-icons/sys.png');
}
.file-tar span {
    background-image: url('/file-icons/tar.png');
}
.file-tex span {
    background-image: url('/file-icons/tex.png');
}
.file-tga span {
    background-image: url('/file-icons/tga.png');
}
.file-thm span {
    background-image: url('/file-icons/thm.png');
}
.file-tiff span {
    background-image: url('/file-icons/tiff.png');
}
.file-tmp span {
    background-image: url('/file-icons/tmp.png');
}
.file-torrent span {
    background-image: url('/file-icons/torrent.png');
}
.file-ttf span {
    background-image: url('/file-icons/ttf.png');
}
.file-txt span {
    background-image: url('/file-icons/txt.png');
}
.file-uue span {
    background-image: url('/file-icons/uue.png');
}
.file-vb span {
    background-image: url('/file-icons/vb.png');
}
.file-vcd span {
    background-image: url('/file-icons/vcd.png');
}
.file-vcf span {
    background-image: url('/file-icons/vcf.png');
}
.file-vob span {
    background-image: url('/file-icons/vob.png');
}
.file-wav span {
    background-image: url('/file-icons/wav.png');
}
.file-wma span {
    background-image: url('/file-icons/wma.png');
}
.file-wmv span {
    background-image: url('/file-icons/wmv.png');
}
.file-wpd span {
    background-image: url('/file-icons/wpd.png');
}
.file-wps span {
    background-image: url('/file-icons/wps.png');
}
.file-wsf span {
    background-image: url('/file-icons/wsf.png');
}
.file-xhtml span {
    background-image: url('/file-icons/xhtml.png');
}
.file-xlr span {
    background-image: url('/file-icons/xlr.png');
}
.file-xls span {
    background-image: url('/file-icons/xls.png');
}
.file-xlsx span {
    background-image: url('/file-icons/xlsx.png');
}
.file-xml span {
    background-image: url('/file-icons/xml.png');
}
.file-yuv span {
    background-image: url('/file-icons/yuv.png');
}
.file-zip span {
    background-image: url('/file-icons/zip.png');
}
